.social-links{
    color: black;
}
.list-title{
    word-spacing: 10px;
}
.footer-links{
    color: black;
    text-decoration: none;
}
.footer-links:hover{
    text-decoration: underline;
}
.bottom-list{
    padding-right: 50px;
}
#top-foot{
    padding-top: 30px;
    border-bottom: 1px solid lightgray;
}
#bottom-foot{
    padding-top: 30px;
}
// Icons
i{
    font-size: 2rem;
}
