.logo-footer{
    width: 200px;
    padding-left: 0;
}
.social-links{
    color: #003049ff;
}
.list-title{
    word-spacing: 9px;
    color: #003049ff;
}
.footer-links{
    color: #003049ff;
    text-decoration: none;
    line-height: 2rem;
}
.footer-links:hover{
    text-decoration: underline;
}
.see-more{
    color: #669bbcff;
    text-decoration: none;
}
.see-more:hover{
    color: #003049ff;
    text-decoration: underline;
}
.bottom-list{
    padding-right: 70px;
}
#top-foot{
    padding-top: 30px;
    border-bottom: 1px solid lightgray;
}
#bottom-foot{
    padding-top: 30px;
}
.select-lang, .copyright{
    color: #003049ff;
}
.app-btn{
    width: 160px;
    padding-left: 20px;
}
// Icons
i{
    font-size: 2rem;
}



