@use './variables' as *;

#login{
    background: $prussian-blue;
    background: linear-gradient(100deg, $prussian-blue 0%, $prussian-blue 45%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
    height: 100vh;
    min-width: 457px;
    overflow-x: hidden;
    .logo-ed{
        width: 140px;
        margin: 20px;
        filter: brightness(0) invert(1);
    }

    .text-title{
        height: 80%;
        width: 70%;
        padding: 10%;

    }
    h1{
        font-size: 5em;
        font-weight: 700;
    }
    .yellow-line{
        height:40%;
        width: 5px;
        padding: 4px;
        background-color: #f0cc00;
        transform: skew(-13deg);
    }
    #Accedi{
     padding-left: 20%;
     padding-right: 20%;
    }
    #Registrazione{
        padding-left: 20%;
        padding-right: 20%;
       }
    .btn-red{
        background-color: #de190c ;
        color: white;
        font-size: 1.2em;
    }
    .btn-red:hover{
        background-color: #921108;
    }

    .btn-white{
        background-color: transparent;
        color: black;
        font-size: 1.2em;
    }

    .btn-white:hover{
       text-decoration: underline;
    }

    .icon{
        width: 20px;
        height: 20px;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
    .condizioni{
        font-size: 0.8em;
    }
    @media screen and (max-width:1200px) {
        h1{
            font-size: 3em;
        }
    }
    @media screen and (max-width: 767px) {
        h1{
            font-size: 1.5em;
        }
        .text-title{
            margin-top: -200px;
            padding: 0;
            margin-left: 20px;
        }
        .yellow-line{
            height:20%;
            width: 3px;
            padding: 2px;

        }
        input::placeholder{
            font-size: 0.8em;
        }
        a, span, h5, button, p {
            font-size: 0.8em;
        }

        .btn-red, .btn-white{
            width: 100%;
            font-size: 0.8em;
        }
    }
}
