/* SCSS HEX */
$federal-blue: #03045eff;
$honolulu-blue: #0077b6ff;
$pacific-cyan: #00b4d8ff;
$non-photo-blue: #90e0efff;
$light-cyan: #caf0f8ff;

$barn-red: #780000ff;
$fire-brick: #c1121fff;
$papaya-whip: #fdf0d5ff;
$prussian-blue: #003049ff;
$air-superiority-blue: #669bbcff;